<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-margin">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-avatar >
        <ion-img src="../assets/avatar.png"></ion-img>
      </ion-avatar>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-text color="tertiary">
        <h5>Azura Sakan Taufik</h5>
      </ion-text>
    </ion-row>
    <ion-row class="ion-no-padding">
      <h6>000 000 20528 - Kelas A</h6>
    </ion-row>
    <ion-row>
      <p>Qaqa qaqa aslab ku yang baik mohon pengertiannya krn baru kerjain H-1 :"( 
        tadinya masih pengen pake react tp karena docs nya gak lengkap jadi banting setir angular barusan :).
        Ngerjainnya semua sendiri sih, referensi utama dari modul mingguan + stack overflow dan docs angular, 
        sedikit hal yang gak ngerti tanya fanny, dinda, sam, titan. Ada tambahan pakai currency formatter buat price nya.
      </p>
    </ion-row>
  </ion-grid>
  
  
</div>
</ion-content>
